Options -Indexes
DirectoryIndex index.html

RewriteEngine On

# www -> без www
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]

# /index.html -> /  и  /gr/index.html -> /gr/
RewriteCond %{THE_REQUEST} \s/+(.*/)?index\.html[\s?] [NC]
RewriteRule ^ /%1 [L,R=301]

# Кодировка и типы файлов
AddDefaultCharset utf-8
AddType application/xml .xml
AddType text/plain .txt
AddType text/xsl .xsl
